 <!--Content Section-->
 <div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q class="content-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua</q>
              <footer class="content-white">— Nemanja Petrovic, Manager</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3 class="content-black">NEW</h3>
              <h2 class="section-title">Focusing On What Matters Most</h2>
              <p class="content-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
          </div>
          <p class="content-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Earum ex molestiae ducimus expedita libero cupiditate non nisi adipisci quibusdam similique ipsam eum deleniti eaque excepturi temporibus quo reprehenderit, iste quam!
          </p>
          <p class="content-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illum magni fugiat placeat voluptates numquam ab quia iusto ad! Natus, architecto sint. 
              Cumque repudiandae id culpa ullam, ipsum expedita harum.
          </p>
          
          <a href="https://www.youtube.com/watch?v=WetJL39wZLc" data-videoid="https://www.youtube.com/watch?v=WetJL39wZLc" data-videosite="youtube" class="button video link-lightbox">
              WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a>
      </div>
      <!--End Content Right Side-->

      
  </div>


</div>
<!--End of Content Section-->