<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>BMW Company</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam et voluptate rem minima fuga quibusdam earum
                    distinctio explicabo magni, nobis exercitationem iste sequi eum non maiores velit voluptatum, itaque
                    excepturi.</h2>
            </div>

            <!--Call to Action-->
            <!-- For buy button -->
            <a routerLink="/Login" class="button">Buy your favorite BMW</a>
            
            <!--End Call to Action-->

        </div>

    </div>
    <!--End of Row-->
</header>