 <!--Introduction-->
 <section id="about" class="introduction scrollto">
  <router-outlet></router-outlet>
<div class="row clearfix">

  <div class="col-3">
      <div class="section-heading">
          <h3>ABOUT US</h3>
          <h2 class="section-title">Who we are?</h2>
          <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
      </div>

  </div>

  <div class="col-2-3">

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
          <!--Icon-->
          <div class="icon">
              <i class="fa fa-html5 fa-2x"></i>
          </div>
          <!--Icon Block Description-->
          <div class="icon-block-description">
              <h4>Company</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                  Ipsum, delectus sunt facilis tempora blanditiis maiores laudantium sed impedit mollitia itaque,
                  esse temporibus et harum veniam sit asperiores provident debitis quod!</p>
          </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
          <!--Icon-->
          <div class="icon">
              <i class="fa fa-bolt fa-2x"></i>
          </div>
          <!--Icon Block Description-->
          <div class="icon-block-description">
              <h4>Product</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, in impedit dignissimos, 
                  dolores repellendus minus, vero nisi enim incidunt perferendis amet ducimus ullam quas facere exercitationem cupiditate temporibus vitae assumenda!</p>
          </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
          <!--Icon-->
          <div class="icon">
              <i class="fa fa-tablet fa-2x"></i>
          </div>
          <!--Icon Block Description-->
          <div class="icon-block-description">
              <h4>Team</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Dolorem illo sed iste praesentium error maxime sequi impedit culpa eum eveniet quos voluptas delectus corrupti totam, ipsum quidem, architecto pariatur quae.</p>
          </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
          <!--Icon-->
          <div class="icon">
              <i class="fa fa-rocket fa-2x"></i>
          </div>
          <!--Icon Block Description-->
          <div class="icon-block-description">
              <h4>Boss</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                  Molestiae nesciunt laudantium assumenda neque eaque praesentium reiciendis nihil iusto numquam. 
                  Harum fugiat alias nobis expedita ipsam natus, et pariatur ex dolore?</p>
          </div>
      </div>
      <!--End of Icon Block-->

  </div>

</div>


</section>
<!--End of Introduction-->